.container {
    width: 100%;
    margin: 0 0 30px auto;
    position: relative;
    list-style: none;
    padding: 0;

    
    
  }

  .slide > div {
    display: flex;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  



  
  
  