.container {
  width: 100%;
  height: 100vh;
  margin: 0 0 30px auto;
  position: relative;
  list-style: none;
  padding: 0;
  /* max-width: 800px;  */
  
  
}
@media (max-width: 1280px) {
  .container {
    max-width: none;
    /* margin-top: 30px; */
  }
}
.slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: blur(5px); /* adjust the blur radius to your liking */
  -webkit-filter: blur(5px);
  
}

.slide h1{
  font-size: 48px;

}


